body {
  font-size: 60px;
  font-family: Helvetica;
}

#setup {
  color: blue;
}

#punchline {
  color: red;
  margin-top: 60px;
}

#voting {
  margin-top: 50px;
}

#voting a {
  color: purple;
}

button {
  font-size: 60px;
  background: green;
  box-shadow: 5px;
  border-radius: 10px;
  margin-top: 100px;
  position: absolute;
  bottom: 100px;

}
